<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minecraft Message Board</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="mainContainer">
      <div class="messages-container">
        <% messages.forEach(message => { %> <%- include('messageSign',
        {message:message}) %> <% }); %>
      </div>
    </main>
    <div class="signModal">
      <form action="/new" method="post" class="messageForm">
        <div class="modalHeader">
          <h1>Edit Sign Message</h1>
        </div>
        <div class="formInputs">
          <input
            class="textInput"
            type="text"
            placeholder="Some text"
            name="text"
            maxlength="20"
            required
          />
          <input
            type="text"
            placeholder="Author"
            name="user"
            maxlength="12"
            required
          />
        </div>
        <button type="submit" class="messageFormBtn">Done</button>
      </form>
    </div>
    <div class="alertModal">
      <div class="innerAlertModal">
        <span>X</span>
        <div class="alertText">
          <p class="primaryText">Sign Limit Maxed!</p>
          <p class="secondaryText">Max number of Signs reached.</p>
        </div>
      </div>
    </div>
    <script src="/main.js" type="module"></script>
  </body>
</html>
